body{
    margin: 0;
}
.thumbnail{
    width: 100%;
}

.search-bar{
    font-size: 15px;
    margin-left: 30px;
    display: block;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 10px;
}
.box{
    width: 100%;
}

.thumb{
    margin-bottom: 15px;
}

p{
    margin-top: 0;
}

.pro-text{
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 10px;
}
.pro{
    width: 100%;
    border-radius: 40px;
}

.text{
    font-family: "Roboto", Arial, sans-serif;
}

.p1{
    font-weight: bold;
    margin-bottom: 10px;
}

.p2, .p3{
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 6px;
}
.pro{
    width: 100%;
    border-radius: 40px;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.left{
    display: flex;
    align-items: center;
}

.menu{
    height: 30px;
    margin-left:  20px;
    margin-right: 20px;
}

.logo{
    height: 100px;
    /* margin-top: -30px; */
}

.middle{
    flex: 1;
    margin-left: 50px;
    margin-right: 100px;
    max-width: 500px;
    display: flex;
    align-items: center;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
}

.search-bar{
    font-size: 16px;
    font-family: "Roboto", Arial, sans-serif;
    flex: 1;
    height: 20px;
    padding-left: 10px;
    border-radius: 2px;
    border-width: 1px;
    border-color: rgb(187, 187, 187);
    border-style: solid;
}

.search-btn{
    width: 50px;
    height: 30px;
}
.search-img{
    width: 24px;
    
}

.voice-btn{
    width: 36px;
    height: 36px;
    margin-left: 15px;
}
.voice-btn img{
    width: 30px;
    height: 30px;

}
.right{
    background-color: lightgreen;
    width: 200px;
}

