.thumbnail{
    width: 100%;
}

.search-bar{
    font-size: 15px;
    margin-left: 30px;
    display: block;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 10px;
}
.box{
    width: 100%;
}

.thumb{
    margin-bottom: 15px;
}

p{
    margin-top: 0;
}

.pro-text{
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 10px;
}
.pro{
    width: 100%;
    border-radius: 40px;
}

.text{
    font-family: "Roboto", Arial, sans-serif;
}

.p1{
    font-weight: bold;
    margin-bottom: 10px;
}

.p2, .p3{
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 6px;
}
.pro{
    width: 100%;
    border-radius: 40px;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.left{
    background-color: lightblue;
    width: 150px;
}

.middle{
    background-color: lightpink;
    flex: 1;
    margin-left: 50px;
    margin-right: 100px;
    max-width: 400px;
}
.right{
    background-color: lightgreen;
    width: 200px;
}

